@{
    ViewData["Title"] = "Начало";
}

    <div class="text-center">
        <h2>Добре дошли в "Просто пица приложение"</h2>
        <p>Започнете да използвате приложението!</p>
        <p>
            <a asp-area="" asp-controller="Ingredient" asp-action="Index">Съставки</a>
            |
            <a asp-area="" asp-controller="Pizza" asp-action="Index">Пици</a>
            |
            <a asp-area="" asp-controller="Order" asp-action="Index">Поръчки</a>
        </p>
    </div>
